.dark{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: .9rem;
    font-weight:500;
    color: white;
    background: rgb(20,20,20);
    background: linear-gradient(90deg, rgba(20,20,20,1) 0%, rgba(32,32,32,1) 35%, rgba(49,50,50,1) 100%);
}

.dark:hover{
    cursor: pointer;
}