.productcard {
    display: flex;
    max-width: 400px;
    padding: 20px;
    border: 1.5px solid #ccc;
    border-radius: 25px;
}

.left{
    flex: 3;
}
.productcard img{
    flex: 1;
    height: 120px;
    width: auto;
}

.mini{
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: bold;
    color: #8a8a8a;
    line-height: 0;
}

.title{
    font-size: 1.25rem;
    font-weight: bold;
    color: #2c2c2c;
    line-height: 1.25rem;
    margin: 1rem 0;
}

.sub{
    font-size: .75rem;
    color: #8a8a8a;
    margin: 0;
}

